<h1>Merci de confirmer votre adresse email</h1>

<p>
    Confirmez votre adresse email en suivant le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cheers!
</p>
