{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un épisode{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ajouter un nouvel épisode</h1>
    <div class="container form">
        {{ include('episode/_form.html.twig') }}

        <div class="back my-4">
            <a href="{{ path('admin_episode_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
