{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter une saison{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ajouter une nouvelle saison</h1>
    <div class="container form">
        {{ include('season/_form.html.twig') }}

        <div class="back my-4">
            <a href="{{ path('season_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
