{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter une série{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ajouter une nouvelle série</h1>
    <div class="container form">
        {{ include('program/admin/_form.html.twig') }}

        <div class="back my-4">
            <a href="{{ path('admin_program_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}